* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #cef;
}

#currency-converter {
  width: 460px;
  text-align: center;
  margin: 50px auto;
  padding: 10px 20px;
  color: #555;
  background-color: #eaf7ff;
  font-size: 20px;
  border-radius: 10px;
}

#title {
  color: #3bb;
}

input, select {
  display: block;
  width: 80%;
  padding: 5px;
  margin: 5px auto 15px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}

#result {
  color: #f72;
}
